
substitutions:
  project_ver_let: "f"

packages:
  granzscientific.bm1-update: !include update.yaml

esphome:
  on_boot:
    then:
      - script.execute: scr_factory_test

script:
  # factory test script
  - id: scr_factory_test
    then:
      - if:
          condition:
            lambda: 'return id(first_boot);'
          then:
            # start AP immediately
            - lambda: |-
                id(wifi_wificomponent_id).set_ap_timeout(1);
                id(wifi_wificomponent_id).enable();

globals:
  # keep track of it if we'd booted once before (for factory test purposes)
  - id: first_boot
    type: bool
    restore_value: yes
    initial_value: 'true'
